/*/////////////////////////////////////Our Offline Presence section css start////////////////////////////////////////*/

.our-offline {
	padding: 2.25rem 0;
}
.our-offline .pr-heading .heading {
	padding: 0;
	color: #fff;
	margin-bottom: .5em;
	font-size: 2.625rem;
}
.our-offline .offline-map {
	padding-bottom: 3rem;
}
.our-offline .offline-card {
	background-color: #1a2a37;
	/*-webkit-box-shadow: 3px 3px 3px 1px rgba(5,8,11,1);
	-moz-box-shadow: 3px 3px 3px 1px rgba(5,8,11,1);
	box-shadow: 3px 3px 3px 1px rgba(5,8,11,1);*/
	padding: 2.5em 0;
    /*margin-bottom: 1em;*/
    min-height: 206px;
}
.our-offline .offline-card .offline-img {
	padding: 0 2rem;
}
.our-offline .offline-card .offline-text {
	padding: 0 2rem;
	color: #fff;
}
.our-offline .offline-card .offline-text h2 {
	font-weight: 900;
	margin-bottom: 0;
}

/*///////////////////////////////////////our-offline carousel css section start///////////////////////////////////////////*/

.our-offline .swiper-pagination-bullet {
	display: inline-block;
	border-radius: 25px;
	background: #3f6a6d;
	opacity: .2;
	width: 4.25rem;
    height: .25rem;
}
.our-offline .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #fff;
	opacity: 1;
}
.our-offline .swiper-wrapper {
    padding: 0rem 0 3rem;	
}
.our-offline .swiper-button-prev,
.our-offline .swiper-button-next {
  display: none;
}

/*///////////////////////////////////////our-offline carousel css section end/////////////////////////////////////////////*/