/*////////////////////////////////////////partners carousel css section start/////////////////////////////////////////*/

/*////////////////////////////////////////online Channels css section start///////////////////////////////////////////*/

.pr-channels {
	padding-bottom: 50px;
    /*background: url(../images/online-channels-parallex.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;*/
}
.pr-channels .nav-tabs {
    display: flex;

}
.pr-channels .nav-item {
    width: 33.33%;
    border: 0;
    margin: 0;
}
.pr-channels .nav-link {
    border-radius: 0;
    border: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    color: #303030;
    font-size: 1.25rem;
    font-weight: 700;
    border: 1px solid #1f3244;
    height: 100%;
    display: flex;
    align-items: center;
}
.pr-channels .nav-link:hover {
    border: 1px solid #1f3244;
}
.pr-channels .nav-link.active {
	color: #ffffff;
	background-color: #1f3244;
    border: 1px solid #1f3244;
    opacity: 0.8;
}
.pr-channels .channels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
    padding: 3rem 0 1rem;
}
.pr-channels .channels-icon-img img {
	max-width: 200px;
	filter: grayscale(100%);
	min-width: 200px;
}
.pr-channels .channels-icon-img img:hover {
	filter: grayscale(0%);
}
/*////////////////////////////////////online Channels carousel css section start//////////////////////////////////////*/
/*
.pr-channels .swiper-pagination {
	position: relative;
}
.pr-channels .swiper-pagination-bullet {
	display: inline-block;
	border-radius: 25px;
	background: #3f6a6d;
	opacity: .2;
	width: 4.25rem;
    height: .25rem;
}
.pr-channels .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #2f2f2f;
	opacity: 1;
}
.pr-channels .swiper-button-prev,
.pr-channels .swiper-button-next {
  display: none;
}*/

/*////////////////////////////////////online Channels  carousel css section end/////////////////////////////////////*/

/*/////////////////////////////////////////online Channels css section end//////////////////////////////////////////*/