/*///////////////////////////////////////////////////navbar css start//////////////////////////////////////////////////*/

/*.pr-navbar.mob {
	display: none;
}*/
.pr-navbar {
	background-color: transparent;
	position: absolute; 
    z-index: 99;
    width: 100%;
    /*background: #1e3142;
    opacity: 0.8;*/
}
.pr-navbar:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #1e3142;
	opacity: 0.8;
	z-index: -1;
}
.pr-navbar .navbar {
	padding: 0rem 0;
}
.pr-navbar .pr-brand {
	flex-grow: 1;
	padding-top: 0;
	padding-bottom: 0;
}
.pr-navbar .pr-nav {
	flex-grow: unset;
}
.pr-navbar .pr-brand .pr-logo {
	max-width: 200px;
}
.pr-navbar .pr-navbar-inner {
    width: 100%;
}

.pr-navbar .navbar-toggler:focus, 
.pr-navbar .navbar-toggler:hover {
    outline: none;
}

.pr-navbar .pr-nav > ul {
	display: flex;
	margin-bottom: 0;
}
.pr-navbar .pr-nav ul > li {
	list-style-type: none;
    position: relative;
}
.pr-navbar .pr-nav ul > li > a {
	color: #fff;
	text-decoration: none;
	padding: 19px 17px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	background: transparent;
	transition: all 0.5s ease;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}
.pr-navbar .pr-nav > ul > li.dropdown_caret > a::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
}
.pr-navbar .pr-nav > ul > li:hover > a {
	background: #000;
}
.pr-navbar .pr-nav > ul > li > ul {
	display: none;
	position: absolute;
	background: #fff;
    box-shadow: 0 0 8px 2px #00000045;
}
.pr-navbar .pr-nav > ul > li:hover ul {
	display: block;
}
.pr-navbar .pr-nav > ul ul > li > a {
	position: relative;
}
.pr-navbar .pr-nav > ul ul > li > a:before {
	position: absolute;
	content: '';
	left: 5px;
	top: 50%;
	width: 30px;
	height: 30px;
	transform: translate(0, -50%);
}
.pr-navbar .pr-nav > ul ul > li > a {
    color: #212529;
    padding: 19px 17px 19px 40px;
    border-bottom: 1px solid #e9ecef;
}
.pr-navbar .pr-nav > ul ul > li.new-product-launches a:before {
	background: url(../../../assets/images/menu-icon-new-product-launches.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.countrywide-distribution a:before {
	background: url(../../../assets/images/menu-icon-countrywide-distribution.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.certifications-licensing a:before {
	background: url(../../../assets/images/menu-icon-certifications-licensing.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.marketing-retailing a:before {
	background: url(../../../assets/images/menu-icon-marketing-retailing.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.warehousing-support a:before {
	background: url(../../../assets/images/menu-icon-warehousing-support.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.after-sales-services a:before {
	background: url(../../../assets/images/menu-icon-after-sales-services.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.news a:before {
	background: url(../../../assets/images/menu-icon-news.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.press-release a:before {
	background: url(../../../assets/images/menu-icon-press-release.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.mobility a:before {
	background: url(../../../assets/images/menu-icon-mobility.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.retailers a:before {
	background: url(../../../assets/images/menu-icon-retailers.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.consumer-electronics a:before {
	background: url(../../../assets/images/menu-icon-consumer-electronics.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.amazfit a:before {
	background: url(../../../assets/images/menu-icon-amazfit.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.apple a:before {
	background: url(../../../assets/images/menu-icon-apple.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.lenovo a:before {
	background: url(../../../assets/images/menu-icon-lenovo.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav > ul ul > li.sony a:before {
	background: url(../../../assets/images/menu-icon-sony.png) no-repeat;
	background-position: center left 50%;
	background-size: 30px;
}
.pr-navbar .pr-nav ul > li > ul > li > a {
	color: #212529;
	border-bottom: 1px solid #e9ecef;
	background: transparent;
	min-width: 250px;
	max-width: 250px;
	width: 100%;
	font-size: 13px;
	padding: 15px 15px 15px 40px;
	font-family: 'Lato', sans-serif;
}
.pr-navbar .pr-nav > ul > li:hover > ul {
	display: block;
	transition: all 0.5s ease;
}
.pr-navbar .pr-nav > ul > li > ul > li:last-child a {
	border-bottom: 0;
}
.pr-navbar .pr-nav > ul > li > ul >li > a:hover {
	background: #1f3244;
	color: #fff;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 14px;
	}
	.pr-navbar .pr-nav .nav-item .nav-link {
	    padding: 1.25rem 15px;
	}
	.pr-navbar .pr-nav ul > li > a {
		padding: 19px 14px;
	}
}

@media screen and (max-width: 991px) {
	html {
		font-size: 14px;
	}
	/*.pr-navbar.deks {
		display: none;
	} */
	/*.pr-navbar.mob {
		display: block;
	}*/
	.pr-navbar .navbar {
	    padding: .5rem 0;
	}
	.pr-navbar .pr-nav {
		position: fixed;
		top: 0;
		width: 290px;
		right: 0;
		height: 100vh;
		background: #1f3244;
	    right: -320px;
	    transition: all 0.5s;
	}
	.pr-navbar .pr-nav .navbar-toggler {
		border-radius: 0;
	}
	.pr-navbar .mob-menu-show {
		right: 0px;
	    transition: all 0.5s;
	}
	.pr-navbar .pr-nav .close {
		position: absolute;
		left: -30px;
		width: 30px;
		height: 30px;
		padding: 2px;
		background: #1f3244;
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.pr-navbar .pr-nav .close i {
		color: #fff;
		font-size: 20px;
	}
	.pr-navbar .pr-nav > ul {
		height: 100vh;
		flex-direction: column;
		overflow-x: hidden;
	}
	.pr-navbar .pr-nav > ul > li > a {
		width: 100%;
	}
	.pr-navbar .pr-nav > ul > li:hover ul {
		display: none;
		transition: initial;
	}
	/*.pr-navbar .pr-nav ul > li.dropdown_caret .dropdown-mob {
		display: block;
	}*/
	.pr-navbar .pr-nav > ul > li > ul {
		position: static;
	}
	.pr-navbar .pr-nav > ul > li > ul > li > a {
	    max-width: 100%;
	}
	.hide-lg-up {
		display: block;
	}
	.hide-lg-down {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.pr-cust-btn {
		font-size: .75rem;
	}
	.pr-cust-btn .fa {
	    font-size: 1.5rem;
    	top: 15%;
	}
}

@media screen and (max-width: 575px) {
	.pr-navbar .pr-brand .pr-logo {
		max-width: 150px;
	}
}


/*///////////////////////////////////////////////////navbar css end////////////////////////////////////////////////////*/